.navcustom{
    background-color: $color-primario;
 
}

.logo {
    
    overflow:hidden;
    background-color: #432c7a;
}

.alogo{
    color:white;
}

nav .navbar-nav li a{
    color: white !important;
    }

nav .navbar-brand{
    color: white !important;
    }    